/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors*/
:root {
    --header-color: #0084fd;
    --card-color: #b5ddff;
    --Section-color: #9792e4;
    --free-text: #fdc15f;
    --footer: #000000 ;
}


/* Generics */
body{
    font-family: 'PT Sans', sans-serif;
}

/*Utils*/
.container{
    max-width: 1300px;
    margin: 0 auto;
}


/* Header */

header{
    display: flex;
    flex-direction: row;
}

.navigation-menu{
    display: flex;
    flex-direction: row;
    background-color: var(--header-color);
    padding: 20px 250px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navigation-menu img{
    display: block;
}

.navigation-menu ul{
    list-style-type: none;
}

.navigation-menu li{
    padding: 5px;
    display: inline-block;
}

.navigation-menu a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
}
.navigation-menu .btn-white{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.button-menu{
    display: flex;
    flex-direction: column;
    display: none;
}
.line{
    margin-bottom: 5px;
    width: 40px;
    padding: 3px;
    background-color: white;
}





/* Section About us */

.container{
    margin-top: 150px;
}

.about-us .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    flex-basis: calc(100% / 3);
}
.about-us .col{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: var(--card-color);
    border-radius: 20px;
    text-align: center;
    padding: 40px 10px;
}

.about-us h2{
    color: var(--header-color);
}

.about-us p{
    line-height: 25px;
    padding: 20px 0;
}

/*About us  Big-col */
.about-us .big-col{
    display: flex;
    flex-direction: column;
    width: 820px;
    border-radius: 20px;
    background-color: var(--card-color);
}

.big-col .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
}

.about-us .icon{
    color: var(--header-color);
    font-size: 80px;
}


/*About us  small-col */

.about-us .small-col{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 30px 10px;
    margin-right: 250px;
}

.about-us .btn-blue{
    color: white;
    background-color: var(--header-color);
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    text-align: center;
}
.about-us a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
}

/*About us  med-col */

.about-us .med-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
}

.med-col img{
    display: block;
    max-width: 280px;
}

.about-us img{
    position: relative;
    top: 15px;
    right: 80px;
}

/* Section Information */

.information{
    background-color: var(--Section-color);
}

.information .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    flex-basis: calc(100% / 2 - 40px);
}

.information p{
    line-height: 25px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.information .btn-violet{
    background-color: var(--Section-color);
    color: black;
    width: 50px;
    padding: 20px 20px;
    border-radius: 50%;
}

/* Information Large col */

.information .large-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 50px 0px;
}

.information .large-col img{
    max-width: 400px;
    margin-bottom: 100px;
}

.information .large-col-content{
    color: white;
}


.information .large-col h2{
    color: white;
    font-size: 30px;
}

/* Information Small Col */

.information .small-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    text-align: center;
    padding: 50px 0px;
} 

.small-col-content{
    background-color: white;
    border-radius: 50px;
    padding: 80px 60px;
}

.information img{
    max-width: 200px;
    margin-bottom: 20px;
}


/* Section Testimonials */

.testimonials .container{
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonials  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.testimonials .col-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    padding: 40px 10px;
}
.testimonials .col{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 40px 10px;
    background-color: var(--Section-color);
    color: white;
}

.testimonials .col-title h2{
    font-size: 40px;
    padding: 30px;
    color: var(--Section-color);
}


.testimonial{
    display: flex;
    flex-direction: row;
}

/* Testimonial circle img */


.img-circle{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.testimonial img {
    width: auto;
    height: 100%;
    margin-left: -40px;
}

/* Testimonial Content */

.testimonial .testimonial-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
}

.testimonial p{
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    margin-bottom: 30px;
}

.testimonial-content h2{
    font-size: 20px;
}

/* Section Benefits */

.benefits .container{
  padding: 50px 0px;
}

.benefits{
    background-color: var(--Section-color);
}

.benefits .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-basis: calc(100% / 3 - 20px);
}

.benefits .row-title h2{
    color: white;
    display: flex;
    font-size: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.benefits .col{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 40px 20px;
}

/* Benefits content */

.benefits .btn-violet{
    background-color: var(--Section-color);
    color: white;
    width: 150px;
    padding: 10px 10px;
    border-radius: 20px;
}

.benefits a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
}

.benefits .benefits-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.benefits .number-card{
    padding: 10px 0px;
    color: var(--Section-color);
    font-size: 50px;
}

.benefits h2{
    padding: 10px 0px;
    color: var(--Section-color);
}

.benefits p{
    padding: 0px;
    text-align: left;
    line-height: 30px;
    margin-bottom: 20px;
}

/* Section our team */

.our-team .container{
    padding: 50px;
    margin-top: 20px;
}

.our-team .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Large col */

.our-team .large-col{
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: left;
    padding: 40px 20px;
}

.our-team h2{
    color: var(--Section-color);
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.our-team p{
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 20px;
}


/* Small col */

.our-team .small-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    color: var(--Section-color);
    padding: 40px 20px;
    position: relative;
}



.our-team .small-col .btn-violet{
    color: white;
    background-color: var(--Section-color);
    border-radius: 20px;
    width: 250px;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    color: white;
    position: relative;
}

.our-team .btn-violet i{
    margin-right: 10px;
}

.our-team .quote-simbol i{
    position: absolute;
    font-size: 80px;
    right: 20%;
    z-index: 1;
    color: var(--Section-color);
}

.our-team .small-col p{
    margin-right: 10px;
    margin-top: 20px;
}


.our-team .img-circle{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.our-team img {
    width: auto;
    height: 100%;
}

/* Section Start Service */

.start-service{
    background-color: var(--Section-color);
}

.start-service .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.start-service .col{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.start-service h3{
    color: whitesmoke;
}

.start-service h2{
    color: white;
    font-size: 30px;
    padding: 10px 0px;
}

.start-service .title-free{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}

.start-service .title-free h4{
    font-weight: normal;
    padding: 20px 0px;
}

.start-service p{
    text-align: center;
}

.start-service .title-free a{
    color: white;
}

.title-free h2{
    padding: 10px;
    font-size: 60px;
    color: var(--free-text);
}

.start-service .title-free .btn-violet{
    padding: 20px 60px;
    background-color: white;
    border-radius: 40px;
    margin-top: 20px;
    color: var(--Section-color);
}

.start-service a{
    text-decoration: none;
}


/* Footer */
footer{
    background-color: #333333;
    color: white;
}

footer .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer .col{
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    padding: 40px 20px;
}

footer .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
}

footer .links p{
    padding: 0px 10px;
}

footer a{
    color: var(--Section-color);
}


/* RESPONSIVE */

/* @media screen and (max-width: 1200px) { */


/* MAX WIDTH 768PX */

  @media screen and (max-width: 768px) {

    /* Header */

    .button-menu{
        display: block;
    }

    ul{
        display: none;
    }

    .navigation-menu{
        display: flex;
        padding: 10px 30px;
        justify-content: space-between;
    }

    /* Section About Us */

    .about-us{
        padding: 20px;
    }

    .about-us .row{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .about-us .small-col{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-right: 100px;
    }

    .about-us .med-col{
        width: 200px;
        padding: 0px 10px;
    }

    .about-us .big-col{
        display: flex;
        flex-direction: column;
    }

    .about-us .big-col{
        width: 460px;
    }

    .about-us .col{
        width: 30%;
        display: flex;
        align-items: center;
        padding: 30px 20px;
    }

    .about-us .col:nth-child(2){
        padding: 130px 20px;
    }

    .about-us img{
        position: relative;
        top: 0px;
        right: 80px;
    }

    /* Section Information */

    .information .large-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 700px;
        padding: 50px 0px;
    }
    
    .information .large-col-content h2{
        font-size: 60px;
    }
    
    .information .large-col img{
        max-width: 700px;
        margin-bottom: 100px;
    }
   
    
    .small-col-content{
        background-color: white;
        border-radius: 50px;
        padding: 80px 60px;
    }
    
    .information img{
        max-width: 600px;
        margin-bottom: 20px;
    }

    /* Section Testimonials */

    .testimonials .col{
        display: flex;
        flex-direction: column;
        width: 90%;
        border-radius: 50px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        padding: 40px 10px;
        background-color: var(--Section-color);
        color: white;
    }

    .img-circle{
        display: inline-block;
        position: relative;
        width: 600px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .testimonial img {
        width: auto;
        height: 100%;
        margin-left: -70px;
    }

    .testimonials .col-title {
        padding: 20px 20px;
    }

    /* Section Benefits */
    
    .benefits .col{
        width: 350px;
    }

    /* Sectiona Our team */
    
    .our-team .container{
        padding: 0px;
        width: 100%;
    }

    .our-team{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .our-team .large-col{
        width: 400px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        margin-right: 20px;
        line-height: 40px;
    }

    .our-team .small-col{
        padding: 20px 10px;
        display: flex;
        justify-content: flex-start;
    }
}

/* MAX WIDTH 576PX */

@media screen and (max-width: 576px) {
    .container {
      width: 100%;
  }
}
